@import "@fontsource/fira-mono";

:global(html),
:global(body),
:global(#svelte) {
  height: 100%;
}

:root {
  --font-body: var(--font-roboto, --font-jost);
  --font-mono: "Fira Mono", monospace;
  --color-bg-0: rgb(202, 216, 228);
  --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%);
  --color-theme-1: #ff3e00;
  --color-theme-2: #4075a6;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
  --glow-blue: #2259efcc;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  background-attachment: fixed;
  overflow-x: hidden;

  background-image: radial-gradient(
      circle at 50% var(--sun-pos, 120%),
      var(--glow-blue) 0%,
      rgba(255, 255, 255, 0) 80%
    ),
    radial-gradient(circle at 50% 0%, #1c1f21 0%, #000000 70%);
  background-repeat: no-repeat;

  animation: riseUp 2s ease-out forwards;
}

@keyframes riseUp {
  from {
    --sun-pos: 120%;
  }
  to {
    --sun-pos: 10%;
  }
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/* @media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
} */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
